/* Custom styles added to demo */

.twitter-tweet {
  margin: auto;
}

iframe {
  border-radius: var(--radius) !important;
}

.home-info ul {
  padding-inline-start: 20px;
}

.entry-cover img {
  border: 1px solid var(--border);
}

/* 
 * 直接继承主题背景色，避免代码块背景色不协调
 */
.chroma {
  background-color: unset;
}


