.post-content a:hover {
  color: #007acc;
  border-bottom-color: transparent;
}

/* 表格优化 */
.post-content table {
  table-layout: auto;
  font-size: 1.15rem;
  overflow: hidden;
}

.post-content th, 
.post-content td {
  padding: 12px 16px;
  background: #fff;
  color: #333;
  text-align: left;
}

.post-content th {
  background: #ebf2ff;
  font-weight: 700;
  color: #1a1a1a;
}

.post-content tr:nth-child(even) td {
  background: #f7faff;
}

.post-content tr:hover td {
  background: rgba(173, 191, 255, 0.25);
}

