<!-- 字体预加载 -->
<link rel="preload" href="/fonts/noto-sans-v39-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/noto-sans-v39-latin-500.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/noto-sans-v39-latin-700.woff2" as="font" type="font/woff2" crossorigin>

<link rel="preload" href="/fonts/noto-sans-sc-v37-chinese-simplified-regular.woff2" as="font" type="font/woff2"
    crossorigin>
<link rel="preload" href="/fonts/noto-sans-sc-v37-chinese-simplified-500.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/noto-sans-sc-v37-chinese-simplified-700.woff2" as="font" type="font/woff2" crossorigin>

<link rel="preload" href="/fonts/source-code-pro-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/source-code-pro-v30-latin-500.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/source-code-pro-v30-latin-700.woff2" as="font" type="font/woff2" crossorigin>