<!-- 首屏资源加载 -->
{{ $fontLatinReg := "/fonts/noto-sans-v39-latin-regular.woff2" | absURL }}
{{ $fontLatinBold := "/fonts/noto-sans-v39-latin-700.woff2" | absURL }}
{{ $fontSCReg := "/fonts/noto-sans-sc-v37-chinese-simplified-regular.woff2" | absURL }}
<link rel="preload" href="{{ $fontLatinReg }}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ $fontLatinBold }}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ $fontSCReg }}" as="font" type="font/woff2" crossorigin="anonymous">

{{ $syntax := resources.Get "css/syntax.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $syntax.Permalink }}" integrity="{{ $syntax.Data.Integrity }}">

<script src="https://cdn.jsdelivr.net/npm/mermaid@11.6.0/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZBLE5G77WJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-ZBLE5G77WJ');
</script>