<link rel="preload" href="{{ " /fonts/noto-sans-v39-latin-regular.woff2" | absURL }}" as="font" type="font/woff2"
  crossorigin>
<link rel="preload" href="{{ " /fonts/noto-sans-v39-latin-500.woff2" | absURL }}" as="font" type="font/woff2"
  crossorigin>
<link rel="preload" href="{{ " /fonts/noto-sans-v39-latin-700.woff2" | absURL }}" as="font" type="font/woff2"
  crossorigin>

<link rel="preload" href="{{ " /fonts/noto-sans-sc-v37-chinese-simplified-regular.woff2" | absURL }}" as="font"
  type="font/woff2" crossorigin>
<link rel="preload" href="{{ " /fonts/noto-sans-sc-v37-chinese-simplified-500.woff2" | absURL }}" as="font"
  type="font/woff2" crossorigin>
<link rel="preload" href="{{ " /fonts/noto-sans-sc-v37-chinese-simplified-700.woff2" | absURL }}" as="font"
  type="font/woff2" crossorigin>

<link rel="preload" href="{{ " /fonts/source-code-pro-v30-latin-regular.woff2" | absURL }}" as="font" type="font/woff2"
  crossorigin>
<link rel="preload" href="{{ " /fonts/source-code-pro-v30-latin-500.woff2" | absURL }}" as="font" type="font/woff2"
  crossorigin>
<link rel="preload" href="{{ " /fonts/source-code-pro-v30-latin-700.woff2" | absURL }}" as="font" type="font/woff2"
  crossorigin>

<script src="https://cdn.jsdelivr.net/npm/mermaid@11.6.0/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>
<script src="https://giscus.app/client.js" data-repo="kiddingbaby/kiddingbaby.github.io" data-repo-id="R_kgDOOyYILQ"
  data-category="Announcements" data-category-id="DIC_kwDOOyYILc4Cq7cj" data-mapping="pathname" data-strict="0"
  data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom" data-theme="preferred_color_scheme"
  data-lang="zh-CN" crossorigin="anonymous" async>
  </script>